rebase: unclear semantics on config file inheritance

In https://github.com/google/go-containerregistry/issues/751 we learned that we aren't populating top-level [`ConfigFile`](https://pkg.go.dev/github.com/google/go-containerregistry/pkg/v1@v0.1.1?tab=doc#ConfigFile) properties. For most properties (other than platform stuff), this doesn't _really_ matter, but it's a shame to lose metadata for no reason.

As a first pass:

- [x] `Architecture`, `OS`, and `OSVersion` should probably come from the new base. Most base images have platform-specific things in them, so this seems like a reasonable default. (https://github.com/google/go-containerregistry/pull/752)
- [x] `RootFS` and `History` are synthesized from the original image, new base, and new layers.
- [ ] `Config` comes from the original image, but this has some problems. (https://github.com/google/go-containerregistry/issues/730)
- [ ] `Author` should come from the original image.
- [ ] `Container` is not part of the OCI spec, it's probably fine to omit.
- [ ] `Created` could be either the original image's `Created` or `time.Now()`.
- [ ] `DockerVersion` should probably come from the original image if it's present.

Great summary. I feel like my best argument for `original`'s `Created` would be image-reproducibility as `mutate.Rebase` currently appears to generate identical images when re-run with the same inputs. If `Created` were then set to `time.Now()`, a `mutate.Rebase` consumer would need  explicitly zero-out `Created` after rebase (which is what my team's projects do now for all exported images, not just rebased) or retrieve `original`'s `Created` again to get consistent images.

On the other hand, using anything but `time.Now()` might stretch the [spec](https://github.com/opencontainers/image-spec/blob/e562b04403929d582d449ae5386ff79dd7961a11/config.md#properties) definition of `created` bit
  >   An combined date and time at which the image was created, formatted as defined by RFC 3339, section 5.6.
... though `Created` could still be thought to describe how "old" the set of the top-most layers are, which might be the most important anyways.

Not using `time.Now()` would loose any trace of when the rebase happened too, but that's doesn't feel particularly important as the `history[].created` entries could be analyzed to get potentially more meaningful "age" of the rebased image. 

I searched for some prior art in `moby/moby`
* `docker images list` appears to sort by `.created` ([ref](https://github.com/moby/moby/blob/5c10ea6ae80589c2d56d618df54927e92b0b0136/daemon/images/images.go#L34)) meaning `rebased` images would appear next to `original` images if using it's timestamp, otherwise `rebased` images would appear at the top if using `time.Now()`.
* `docker build --squashed` (experimental) appears to use `time.Now()` for `.created` instead of it's "parent" image ([ref](https://github.com/moby/moby/blob/5c10ea6ae80589c2d56d618df54927e92b0b0136/daemon/images/images.go#L332)) which is maybe not surprising given "parent" doesn't seem equivalent to `original` in that use-case.
* `docker buildx` (experimental) appears to fall back to the top-most `.history[].created` [ref]((https://github.com/moby/moby/blob/c997a4995d69b333e088b75b7e9b21d717af2e23/builder/builder-next/exporter/writer.go#L66-L78)) which feels similar to `original`

I wonder if something like max(old_base.created, new_base.created, original.created) makes sense or if that's too complicated.